
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Bar and Pie Charts using Adapter Design Pattern</h1>
    <img src="/home/GetImageOwnComponent" />
    <img src="/home/GetImageThirdPartyComponent" />
</body>
</html>
